/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}



.mat-header-cell, .mat-cell {
    min-width: 100px;
    max-width: 500px;
    word-wrap: break-word;
    white-space: normal;
    padding: 10px;
}

